.drawer
  input#drawerCheckbox.drawer__checkbox(type='checkbox')
  label.drawer__icon(for='drawerCheckbox')
    span.drawer__icon.-parts
  label.drawer__overlay(for='drawerCheckbox')
  nav.drawer__menu