extends _layout
block locals
  - let title = 'トップページ'
block content
  main.main
    .container
      .idxtop
        h1.idxtop__title This is main content
        img(src="../images/html5.png", alt="")