$black: #333;
$grey1: #6c757d;
$grey2: #bec3cd;
$grey3: #f5f5f5;

$main: #39f;
$main-dark: #17d;
$main-light: #5af;

$main2: #44d;
$main2-dark: #22b;
$main2-light: #66f;

$accent: #d44;
$accent-dark: #b00;
$accent-light: #f66;
