.drawer {
  position: relative;
  display: none;
  // inputのcheckboxは非表示
  &__checkbox {
    display: none;
  }
  // ハンバーガーアイコン
  &__icon {
    position: fixed;
    right: 0;
    z-index: 4;
    display: block;
    width: 56px;
    height: 60px;
    cursor: pointer;
    // ハンバーガーアイコンの中の線
    &.-parts,
    &.-parts::before,
    &.-parts::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 26px;
      height: 2px;
      margin: auto;
      background-color: #000;
    }

    &.-parts::before,
    &.-parts::after {
      content: " ";
    }

    &.-parts::before {
      top: 16px;
    }

    &.-parts::after {
      top: -16px;
    }
  }

  // ドロワーメニュー開いた時のメインエリアを暗く
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none; //ポインタの動作全部無効化
    background: #000;
    opacity: 0;
  }

  // ドロワーメニュー
  &__menu {
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 3;
    width: 320px;
    max-width: 100%;
    height: 100vh;
    overflow-y: auto; //スクロール
    color: #000;
    background: #fff;
    -webkit-overflow-scrolling: touch; //スクロール（SP）
  }

  // チェックが入ったら（アイコンクリックしたら）
  &__checkbox:checked ~ {
    // ハンバーガーアイコン
    .drawer__icon {
      .drawer__icon.-parts {
        background: transparent;
      }

      .drawer__icon.-parts::before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .drawer__icon.-parts::after {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    // メインエリアを暗くする
    .drawer__overlay {
      pointer-events: auto; //ポインタの動作デフォルトに戻す
      opacity: 0.3;
    }
    // メニューをだす
    .drawer__menu {
      right: 0;
    }
  }
  // 動きをスムーズに
  &__icon.-parts,
  &__icon.-parts::after,
  &__icon.-parts::before,
  &__overlay,
  &__menu {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }

  @include sp {
    display: block;
  }
}
